# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
myapp/node_modules
myapp/.pnp
myapp/.pnp.js
/shopping-cart

# testing
myapp/coverage

# production
myapp/build

# misc
myapp/.DS_Store
myapp/.env.local
myapp/.env.development.local
myapp/.env.test.local
myapp/.env.production.local

myapp/npm-debug.log*
myapp/yarn-debug.log*
myapp/yarn-error.log*
